.available_meals {
   position: absolute;
   top: 55%;
   left: 20%;
   margin-bottom: 10rem;
}
.available_meals ul {
    list-style: none; 

}
.available_meals ul li {
    margin: 1rem;
    font-size: 1.6rem;
}